

.section_4 {
  position: relative;
 background: #f2f2f2;
}


.section_4_span {
  position: relative;

  img {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: -17px;

  }


  &::before {
    top: -50px;
    content: '';
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 60%;
    background: white;
  }

}


.design_border {
  border: 1px solid lightseagreen;
  margin: 30px;

  li:active {
    background: lightseagreen;
    color: white;
  }

  .btn {
    padding: 10px;
    background: white;
    border-radius: 0;
    color: lightseagreen;
    text-transform: uppercase;
    font-weight: bold;

    &:hover, &:active {
      background: lightseagreen;
      color: white;
    }



  }

}





.design_box {
  background: white;
  margin: 0 20px 0 20px;

}